@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    hello ,this is @ViewBag.temp
    <br />
    <br />

    <h1>
        this is my name,@ViewBag.UserName
    </h1>
    <h1>
        this is my pwd,@ViewBag.Pwd
    </h1>
</div>




